.env*

/redis/log*

/scalelite/log*
/scalelite/tmp*

/data/*
/data/certbot/conf*
!/data/certbot/
!/data/nginx/
!/data/proxy/
/data/redis/db*
!/data/redis/
/data/postgres/db*
!/data/postgres/
!/data/keycloak/

/tmp*

/log*
