.env

/redis/log*

/scalelite/log*
/scalelite/tmp*

/data/*
/data/proxy/nginx/log/*
!/data/proxy/nginx/log/.keep
/data/proxy/nginx/sites-enabled/*
!/data/proxy/nginx/sites-enabled/.keep
!/data/proxy/

/tmp*

/log*
