[Unit]
Description=ScaleLite Run
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/bin/bash /opt/scalelite-run/scripts/start.sh
ExecStop=/bin/bash /opt/scalelite-run/scripts/stop.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
Alias=scalelite-run
